body { background-color: #ededed; }
h1 { font-size: 18px; font-weight: normal; margin: 0; line-height: 36px; }
a { color: #000; }
h1 a { text-decoration: none; }
.rhs { font-size: 14px; margin-left: 9px; line-height: 36px; }
.rhs_smol { font-size: 12px; line-height: 36px; }
.rhs a:hover, .rhs a:focus { color: #666; }
.rhs a.disabled { pointer-events: none; color: #999; }
#dntoggle { text-decoration: none; color: #666; }
#dntoggle:hover, #dntoggle:focus { color: #333; }
#container { width: 630px; margin-left: auto; margin-right: auto; background-color: #f9f9f9; }
#header { width: 630px; padding-left: 9px; padding-right: 9px; background-color: #fff; }
#contentwraptop { height: 0; background-color: #f9f9f9; }
#contentwrap { width: 100%; }
#content { width: 100%; padding: 9px; background-color: #f9f9f9; }
#contentwrapbot { height: 0; background-color: #ededed; }
#footerwrap { height: 108px; padding: 9px; border-top: 1px solid #777; background-color: #fff; }
#footerinst { font-size: 0.75rem; font-style: italic; }
#anzr { font-family: monospace; }

@media only screen and (min-width: 320px) {
.rhs_smol { font-size: 10px; }
#container { width: 306px; }
#header { width: 306px; }
}

@media only screen and (min-width: 480px) {
.rhs_smol { font-size: 11px; }
#container { width: 468px; }
#header { width: 468px; }
}

@media only screen and (min-width: 640px) {
.rhs_smol { font-size: 12px; }
#container { width: 630px; }
#header { width: 630px; }
}

body.nox { background-color: #070707; color: #ededed; }
.nox a { color: #ededed; }
.nox .rhs a:hover, .nox .rhs a:focus { color: #aaa; }
.nox .rhs a.disabled { color: #777; }
.nox #dntoggle { text-decoration: none; color: #aaa; }
.nox #dntoggle:hover, .nox #dntoggle:focus { color: #ededed; }
.nox #container { background-color: #181818; }
.nox #header { background-color: #070707; }
.nox #content { background-color: #181818; }
.nox #contentwrapbot { background-color: #070707; }
.nox #footerwrap { background-color: #070707; }
