body { background-color: #ededed; }
h1 { font-size: 18px; font-weight: normal; margin: 0; line-height: 36px; }
a { color: #000; }
h1 a { text-decoration: none; }
.rhs { font-size: 14px; margin-left: 9px; line-height: 36px; }
.rhs_smol { font-size: 12px; line-height: 36px; }
.rhs a:hover, .rhs a:focus { color: #666; }
.rhs a.disabled { pointer-events: none; color: #999; }
#dntoggle { text-decoration: none; color: #666; }
#dntoggle:hover, #dntoggle:focus { color: #333; }
#container { width: 630px; margin-left: auto; margin-right: auto; background-color: #f9f9f9; }
#header { width: 630px; padding-left: 9px; padding-right: 9px; background-color: #fff; }
#contentwraptop { height: 39px; background-color: #f9f9f9; }
#contentwrap { width: 100%; }
#content { width: 100%; padding: 9px; background-color: #f9f9f9; }
#contentwrapbot { height: 108px; background-color: #ededed; }
#footerwrap { position: fixed; bottom: 0; z-index: 2; height: 108px; padding: 9px; border-top: 1px solid #777; background-color: #fff; }
#footerinst { font-size: 0.75rem; font-style: italic; }
#footer textarea { display: block; width: 612px; }
#footer button { display: block; }
.ex_ { padding-top: 9px; background-color: #fffeac; }
.ex0 { padding-top: 0; }
.ex_label { color: #333; }
.ex_nr {}
.ex_value {}
.ex_ a { color: #000; }
.ex_ a:hover, .ex_ a:focus { color: #666; }
#ex_template { display: none; }
.sys { margin-top: 9px; }
.syslabel { color: #777; font-family: monospace; }
.sysvalue {}
#systemplate { display: none; }
.in_ { margin-top: 9px; }
.in_label { color: #00789a; font-family: monospace; }
.in_nr {}
.in_value {}
.in_mrk { background-color: #ff0; color: #000; text-decoration-line: underline; text-decoration-style: dotted; }
#in_template { display: none; }
.out { margin-top: 9px; background-color: #ededed; }
.outlabel { color: #dc5600; font-family: monospace; }
.outnr {}
.outprefix { font-style: italic; }
.outvalue {}
.outsuffix { font-style: italic; }
.outimage { width: 360px; margin-left: auto; margin-right: auto; }
#outtemplate { display: none; }

@media only screen and (min-width: 320px) {
.svg_text { font-size: 1.75rem; }
.rhs_smol { font-size: 10px; }
#container { width: 306px; }
#header { width: 306px; }
#footer textarea { width: 288px; }
.outimage { width: 210px; }
}

@media only screen and (min-width: 480px) {
.svg_text { font-size: 1.35rem; }
.rhs_smol { font-size: 11px; }
#container { width: 468px; }
#header { width: 468px; }
#footer textarea { width: 450px; }
.outimage { width: 270px; }
}

@media only screen and (min-width: 640px) {
.svg_text { font-size: 1rem; }
.rhs_smol { font-size: 12px; }
#container { width: 630px; }
#header { width: 630px; }
#footer textarea { width: 612px; }
.outimage { width: 360px; }
}

body.nox { background-color: #070707; color: #ededed; }
.nox a { color: #ededed; }
.nox .rhs a:hover, .nox .rhs a:focus { color: #aaa; }
.nox .rhs a.disabled { color: #777; }
.nox #dntoggle { text-decoration: none; color: #aaa; }
.nox #dntoggle:hover, .nox #dntoggle:focus { color: #ededed; }
.nox #container { background-color: #181818; }
.nox #header { background-color: #070707; }
.nox #content { background-color: #181818; }
.nox #contentwrapbot { background-color: #070707; }
.nox #footerwrap { background-color: #070707; }
.nox .ex_ { background-color: #351; }
.nox .ex_label { color: #ededed; }
.nox .ex_ a { color: #ededed; }
.nox .ex_ a:hover, .nox .ex_ a:focus { color: #aaa; }
.nox .out { background-color: #404040; }
